@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a identity server demo</p>
    <p>Click <a asp-controller="account" asp-action="login">here</a> to login.</p>
</div>
