@model AssessmentViewModel
@{
    ViewData["Title"] = "CustomerAssessment";
}

<h2>我的风险评估</h2>

<h5 class="mt-3">1.商业评估</h5>
@if (Model.FinancialAssessmentInfo != null)
{
    <div>上次评估：@Model.FinancialAssessmentInfo.Creation.ToShortDateString()</div>
    <div>评估结果：@(Model.FinancialAssessmentInfo.IsSuccess?"通过":"未通过")</div>
    @if (Model.FinancialAssessmentInfo.IsExpired)
    {
        <div>已过期！ <a asp-controller="CustomerAssessment" asp-action="Assess">点击</a>重新评估</div>
    }
    else
    {
        <div><a asp-controller="CustomerAssessment" asp-action="AssessResult" asp-route-id="@Model.FinancialAssessmentInfo.Id">查看评估结果</a></div>
    }
} 
else
{
    if(Model.AssessType == "api")
    {
        <a asp-controller="CustomerAssessment" asp-action="Assess">授权获取您的财务数据并评估</a>
    }
    else
    {
        //email flow
    }
}

<h5 class="mt-3">2.其它</h5>